.orders-link {
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.cart-link {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.25rem;
}

.cart-icon {
  width: 38px;
}

.cart-quantity {
  color: rgb(8, 79, 45);
  font-weight: bold;
  position: absolute;
  top: 6px;
  left: 13px;
  width: 26px;
  text-align: center;
}

.cart-text {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* gap: 1rem; */
}

.item-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid rgb(240, 240, 240);
  border-bottom: 1px solid rgb(240, 240, 240);
}

.item-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.item-text {
  margin-bottom: 10px;
}

.item-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}

.item-rating-image {
  width: 100px;
}

.item-rating-link {
  color: rgb(8, 79, 45);
  text-decoration: none;
  margin-top: 3px;
}

.item-price {
  margin-bottom: 10px;
}

.item-quantity-selector {
  width: 50px;
  margin-bottom: 30px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(200, 200, 200, 0.2);
}

.item-cart-button {
  background-color: rgb(8, 79, 45);
  color: white;
  padding: 8px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgba(8, 79, 45, 0.75);
  }
}