header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(8, 79, 45);

  & a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
  }

  & a:hover {
    border: 1px solid white;
  }
}

.left-section {
  width: 208px;

  & a {
    margin-left: 15px;
  }

  & img {
    height: 35px;
    width: auto;
    display: block;
  }
}

.middle-section {
  flex: 1;
  max-width: 850px;

  display: flex;
  align-items: center;

  & #search {
    flex: 1;

    height: 36px;
    padding: 0 10px;
    border: none;
    border-radius: 4px 0 0 4px;
  }

  & div {
    display: flex;
    align-items: center;
  }

  & button {
    height: 36px;
    padding: 0 15px;
    background-color: #febd69;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;

    display: flex;
    align-items: center;

    & img {
      height: 20px;
      width: 20px;
    }
  }
}

.right-section {
  width: 180px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  gap: 0.5rem;
}