:root {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr auto;
}

footer {
  color: darkgray;
  font-size: 0.8rem;
  margin: 0 auto;
}