* {
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main";
}

nav {
    top: 0;
    /* background-color: lightblue; */
    position: sticky;
    grid-area: navbar;
    height: 2.2rem;
}

aside {
    /* background-color: cadetblue; */
    position: sticky;
    grid-area: sidebar;
    width: 3rem;
    top: 2.2rem;
    height: calc(100vh - 2.2rem);
}

main {
    /* background-color: bisque; */
    grid-area: main;
}

.navbar-box {
    display: flex;
    justify-content: space-between;
    height: 2.2rem;
}

.left-section {
    display: flex;
    align-items: center;
    .youtube-menu {
        height: 1em;
        cursor: pointer;
        margin-left: 1em;
        margin-right: 1em;
    }
    .youtube-logo {
        height: 1em;
        cursor: pointer;
    }
}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 4em;
    margin-right: 2em;

    .search-bar {
        flex: 1;
        padding: 0.3em 0.3em;
        border: 1px solid gray;
        border-radius: 2px;
        box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
        height: 1.8em;
    }
    .search-button {
        height: 1.8em;
        width: 2.6em;
        margin-left: -1px;
        position: relative;
    }

    .search-icon{
        height: 1.2em;
        margin-top: 3px;
    }

    .search-voice {
        height: 1.6em;
        width: 1.6em;
        border: none;
        border-radius: 50%;
        padding: 0.2em 0.2em;
        margin-left: 5px;
    }
}

.search-button .tooltip {
    position: absolute;
    bottom: -20px;
    background-color: black;
    color: white;
    font-size: 10px;
    padding: 2px 2px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.search-button:hover .tooltip {
    opacity: 1;
}

.right-section {
    display: flex;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 35px;
    flex-shrink: 0;

    .upload-button {
        height: 20px;
    }

    .youtube-apps {
        height: 20px;
    }

    .notifications {
        height: 20px;
    }

    .my-channel {
        height: 20px;
        border-radius: 10px;

    }
}

.notifications-area {
    position: relative;
    height: 20px;
}

.notifications-number {
    position: absolute;
    background-color: darkred;
    height: 10px;
    width: 10px;
    color: white;
    font-size: 10px;
    padding-bottom: 1px;
    border: 1px solid white;
    border-radius: 100%;
    text-align: center;
    top: 0;
    right: 0;
}

.sidebar-contents {
    /* background-color: lightpink; */
    height: 50px;
    /* margin-top: 4px;
    margin-bottom: 4px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-contents:hover {
    background-color: lightgray;
}

.sidebar-contents img {
    height: 18px;
    margin-bottom: 4px;
}

.sidebar-contents div {
    font-size: 6px;
}

.video-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 10px;
    gap: 10px;
}

@media(max-width: 870px) {
    .video-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 450px) {
    .video-container {
        grid-template-columns: 1fr 1fr;
    }
}


.thumbnail-row {
    position: relative;
}

.video-time {
    position: absolute;
    right: 6px;
    bottom: 10px;
    font-size: 8px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 2px 2px;
}

.thumbnail {
    object-fit: cover;
    height: 100px;
    width: 100%;
}

.video-preview {
    display: flex;
    flex-direction: column;
    /* background-color: lightblue; */
}

.video-info-grid {
    display: grid;
    grid-template-columns: 35px 1fr;
}

.channel-picture {
    padding-top: 10px;

}

.channel-author {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.video-info {
    padding-top: 10px;
}

.video-title {
    font-size: 10px;
    font-weight: bold;
}

.video-author {
    font-size: 9px;
    color: rgb(96, 96, 96);
    margin-top: 10px;
}

.video-stats {
    font-size: 9px;
    color: rgb(96, 96, 96);
    margin-bottom: 10px;
}